html, body {

    background: transparent !important;

    color: transparent !important;

    background-color: transparent !important;

    position: absolute;

    top: 0;

    left: 0;

    right: 0;

    -webkit-backface-visibility: visible;

}